[Unit]
Description=Vcontrold Service
After=network.target

[Service]
# Use the full path to vcontrold (usually /usr/bin/vcontrold)
Type=forking
ExecStart=/usr/sbin/vcontrold -x /home/s53zo/ViesmannK8/vcontrold.xml -d /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
Restart=always
RestartSec=5  # Optional: wait 5 seconds before restarting

[Install]
WantedBy=multi-user.target
